

.about-container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 3em;
  border-bottom: 0.1em solid #f2f2f2;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 4em;
  width: 50%;
}

.about-title {
  color: #182628 !important; 
}

.about-subtext {
  color: #182628;
}

.about-content video {
  display: block;
  height: auto;
  width: 100%;
  max-height: 60vh; /* prevents vertical overflow */
  object-fit: contain;
  z-index: 1000;
}