.hero-container {
  max-width: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding-top: 4em;
  border-bottom: 0.1em solid #f2f2f2;
}

.hero-img-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-intro {
  font-size: 1.8em;
  margin-bottom: 0.6em;
}

.hero-intro, .hero-content, .hero-subtitle {
  color: white;
}



.hero-img-container img {
  width: 90%;
  height: auto;
}

.web-developer {
  font-family: 'Densa_light', sans-serif;
}

.graphic-designer {
  font-family: 'Densa_black', sans-serif;
}

.web-developer, .graphic-designer {
  font-size: 5em;
}

.hero-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

#hero-image {
  transition: transform 0.1s linear;
  z-index: 2000;
}