.projects-section {
    background-color: #182628;
}

.projects-grid-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
   
}

.view-all-link {
    font-size: 0.8rem;
    color: #65CCB8;
    text-decoration: none;
}
.view-all-link:hover {
    color: #65CCB8;
    text-decoration: underline;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-card {
    text-align: left;
}

.project-thumbnail-placeholder {
    width: 100%;
    height: 150px; /* Standard thumbnail height */
    background-color: #ccc; /* Gray background */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px dashed #999;
    overflow: hidden;
}

.project-thumbnail-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-thumbnail-placeholder:hover img {
    scale: 1.1;
    transition: ease-in 0.2s;
}

.placeholder-text {
    color: #666;
    font-size: 0.9rem;
}

.project-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 2px;
}
.project-description {
    font-size: 0.9rem;
    color: #555;
}

.tool-icons-list {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.tool-icon-small {
    width: 1.15em;
    height: 1.15em;
}

.project-filters {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}
.filter-button {
    background-color: transparent;
    border: 1px solid #65ccb8;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    color: #f2f2f2;
}
.filter-button.active, 
.filter-button:focus, 
.filter-button:focus-visible {
    /* These styles provide the visual feedback instead of the default outline */
    background-color: #65ccb8;
    color: #182628;
    border-color: #65ccb8; 
    outline: none;
}

.filter-button:hover {
    background-color: #65ccb8;
    color: #182628;
    border-color: #65ccb8;
}